################################################
###############  .gitignore   ##################
################################################
#
# This file is only relevant if you are using git.
# Client Related
################################################

Client/grunt/node_modules
Client/public/vendor
Client/public/plugin
Client/public/build
Client/public/uploads

################################################
#
# API Related
################################################
