<div id="shortcut">
	<ul>
		<li ng-repeat="shortcut in user.shortcuts">
			<a ui-sref="{{ shortcut.route }}" ng-class="{'selected': isStateActive(shortcut.route)}" class="jarvismetro-tile big-cubes {{ shortcut.bgcolor }}">
				<span class="iconbox"><i class="fa fa-4x {{ shortcut.icon }}"></i> <span>{{ shortcut.heading }}</span></span>
			</a>
		</li>
		<li>
			<a href="#/sample/general" ng-class="{'selected': isStateActive('app.sample.general')}" class="jarvismetro-tile big-cubes bg-color-green"> <span class="iconbox"> <i class="fa fa-dedent fa-4x"></i> <span>Samples</span> </span> </a>
		</li>
	</ul>
</div>