<div id="content">
	<section id="holidays-grid" data-widget-grid wa-loading-spinner="loading">
		<div class="row">
			<div class="col-sm-12">
				<div jarvis-widget id="holidays-widget"
					data-widget-color="blueLight"
					data-widget-editbutton="false"
					data-widget-deletebutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Manage Holidays </h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div class="table-actions pull-right">
								<button type="button" class="btn btn-sm btn-default" ng-click="addHoliday()">
									<i class="fa fa-fw fa-plus txt-color-green"></i>
									New
								</button>
								<button type="button" class="btn btn-sm btn-default" ng-click="deleteHolidays()" ng-disabled="(selectables.holidaysList.length <= 0)">
									<i class="fa fa-fw fa-trash-o txt-color-red"></i>
									Delete
								</button>
							</div>
							<table id="holidaysTable" class="table table-hover table-striped table-bordered" width="100%"
								wa-datatables="holidays.dtOptions.dtOptions"
								aa-data="holidays.data"
								ao-column-defs="holidays.dtOptions.dtColumns"
								col-filter-ao-columns="holidays.dtOptions.dtColumnFilters"
								selectable-options="holidays.dtOptions.dtSelectableOptions"
								on-selection-changed="onHolidaysSelectionChanged(selection)"
								custom-actions="holidays.dtOptions.dtCustomActions">
								<thead>
									<tr class="filters text-muted">
										<th></th>
										<th>Filter</th>
										<th>Filter</th>
										<th>Filter</th>
										<th>Filter</th>
										<th></th>
									</tr>
									<tr>
										<th>Select All</th>
										<th>Holiday</th>
										<th>Description</th>
										<th>From</th>
										<th>To</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>