<div id="content">
	<div class="row">
		<wa-big-breadcrumbs items="['Setup', 'Passengers']" icon="users"
			class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></wa-big-breadcrumbs>
		<div data-wa-include="app/layout/partials/sub-header.tpl.html"></div>
	</div>
	<section id="passengers-grid" data-widget-grid>
		<div class="row">
			<div class="col-sm-12">
				<div jarvis-widget id="vehicles-widget"
					data-widget-color="blueLight" 
					data-widget-editbutton="false"
					data-widget-deletebutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Manage Passengers </h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div class="table-actions pull-right">
								<button type="button" class="btn btn-sm btn-default" ng-click="addPassengers()"><i class="fa fa-fw fa-plus txt-color-green"></i>
								New</button>
								<button type="button" class="btn btn-sm btn-default" 
								ng-click="deletePassengers()" ng-disabled="(selectables.agendaList.length <= 0)">
								<i class="fa fa-fw fa-times txt-color-red"></i>Delete
								</button>
							</div><!--table-actions div end-->
							<table id="passengersTable" class="table table-hover table-striped table-bordered" width="100%" 
								wa-datatables = "passengers.dtOptions.dtOptions" 
								aa-data = "passengers.data"
								col-filter-ao-columns="passengers.dtOptions.dtColumnFilters"
								selectable-options="passengers.dtOptions.dtSelectableOptions"
								custom-actions="passengers.dtOptions.dtCustomActions"
								on-selection-changed="onPassengersSelectionChanged(selection)"
								ao-column-defs="passengers.dtOptions.dtColumns" 							
								>
								<thead>
									<tr class="filters text-muted">
										<th data-class="none">Select All</th>
										<th data-class="expand">Name</th>
										<th data-hide="phone">Client Id</th>
										<th data-hide="phone">Pickup Stop</th>
										<th data-hide="phone">Drop Stop</th>
										<th>Actions</th>
									</tr>
									<tr>
										<th data-class="none">Select All</th>
										<th data-class="expand">Name</th>
										<th data-hide="phone">Client Id</th>
										<th data-hide="phone">Pickup</th>
										<th data-hide="phone">Drop</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div><!--end widget-body-->
					</div>
				</div><!--end widget div-->
			</div><!--end class="row" div-->	
		</div><!--end class="col-sm-12" div-->	
	</section>
</div>