<div id="content">
	<section id="vehicles-grid" data-widget-grid wa-loading-spinner="loading">
		<div class="row">
			<div class="col-sm-12">
				<div jarvis-widget id="vehicles-widget"
					data-widget-color="blueLight"
					data-widget-editbutton="false"
					data-widget-deletebutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Manage Vehicles </h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div class="table-actions pull-right">
								<button type="button" class="btn btn-sm btn-default" ng-click="addVehicle()">
									<i class="fa fa-fw fa-plus txt-color-green"></i>
									New
								</button>
								<button type="button" class="btn btn-sm btn-default" ng-click="deleteSelectedVehicles()" ng-disabled="(selectables.vehiclesList.length <= 0)">
									<i class="fa fa-fw fa-trash-o txt-color-red"></i>
									Delete
								</button>
							</div>
							<table id="vehiclesTable" class="table table-hover table-striped table-bordered" width="100%"
								wa-datatables="vehicles.dtOptions.dtOptions"
								aa-data="vehicles.data"
								ao-column-defs="vehicles.dtOptions.dtColumns"
								col-filter-ao-columns="vehicles.dtOptions.dtColumnFilters"
								selectable-options="vehicles.dtOptions.dtSelectableOptions"
								on-selection-changed="onVehiclesSelectionChanged(selection)"
								custom-actions="vehicles.dtOptions.dtCustomActions">
								<thead>
									<tr class="filters text-muted">
										<th data-class="none"></th>
										<th data-class="expand">Filter</th>
										<th data-hide="phone">Filter</th>
										<th data-hide="phone">Filter</th>
										<th data-hide="phone">Filter</th>
										<th data-class="none"></th>
									</tr>
									<tr>
										<th data-class="none">Select All</th>
										<th data-class="expand">Registration #</th>
										<th data-hide="phone">Description</th>
										<th data-hide="phone">Type</th>
										<th data-hide="phone">Capacity</th>
										<th data-class="none">Actions</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>