<aside id="left-panel">

	<!-- User info -->
	<div login-info></div>
	<!-- end user info -->

	<!-- NAVIGATION : This navigation is also responsive

	To make this navigation dynamic please make sure to link the node
	(the reference to the nav > ul) after page load. Or the navigation
	will not initialize.
	-->
	<nav>
		<!-- NOTE: Notice the gaps after each icon usage <i></i>..
		Please note that these links work a bit different than
		traditional href="" links. See documentation for details.
		-->

		<ul data-wa-menu>
			<!-- Root -->
			<li data-ui-sref-active="active" data-wa-has-role="['RA']">
				<a data-ui-sref="app.root.home" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span
						class="menu-item-parent">{{getWord('Home')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['RA']">
				<a data-ui-sref="app.root.profile" title="Profile"><i class="fa fa-lg fa-fw fa-user"></i> <span
						class="menu-item-parent">{{getWord('Profile')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['RA']">
				<a data-ui-sref="app.root.access-control" title="Access Control"><i class="fa fa-lg fa-fw fa-key"></i> <span
						class="menu-item-parent">{{getWord('Access Control')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['RA']">
				<a data-ui-sref="app.root.hosts" title="Hosts"><i class="fa fa-lg fa-fw fa-building"></i> <span
						class="menu-item-parent">{{getWord('Hosts')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['RA']">
				<a data-ui-sref="app.root.device-software" title="Device Software"><i class="fa fa-lg fa-fw fa-code"></i> <span class="menu-item-parent">{{getWord('Device Software')}}</span></a>
			</li>
			<!-- Client -->
			<li data-ui-sref-active="active" data-wa-has-role="['CA', 'CT', 'CF']">
				<a data-ui-sref="app.client.home" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span
						class="menu-item-parent">{{getWord('Home')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['CA', 'CT', 'CF']">
				<a data-ui-sref="app.client.profile" title="Profile"><i class="fa fa-lg fa-fw fa-user"></i> <span
						class="menu-item-parent">{{getWord('Profile')}}</span></a>
			</li>
			<li data-menu-collapse data-wa-has-role="['CA']">
				<a href="#">
					<i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">{{getWord('Accounts')}}</span>
				</a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.accounts.users">{{getWord('Users')}}</a>
					</li>
				</ul>
			</li>
			<li data-menu-collapse data-wa-has-role="['CA']">
				<a href="#">
					<i class="fa fa-lg fa-fw fa-institution"></i> <span class="menu-item-parent">{{getWord('Setup')}}</span>
				</a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.setup.holidays">{{getWord('Holidays')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.setup.exceptions">{{getWord('Exceptions')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.setup.vehicles">{{getWord('Vehicles')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.setup.routes">{{getWord('Routes')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.setup.passengers">{{getWord('Passengers')}}</a>
					</li>
				</ul>
			</li>

			<li data-ui-sref-active="active" data-wa-has-role="['CA']">
				<a data-ui-sref="app.client.monitor" title="Home"><i class="fa fa-lg fa-fw fa-eye"></i> <span
						class="menu-item-parent">{{getWord('Monitor')}}</span></a>
			</li>

			<li data-menu-collapse data-wa-has-role="['CA', 'CT']">
				<a href="#"><i class="fa fa-lg fa-fw fa-database"></i> <span class="menu-item-parent">{{getWord('Backup')}}</span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.backup.storage-setup">{{getWord('Storage Setup')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.backup.storage-status">{{getWord('Storage Status')}}</a>
					</li>
				</ul>
			</li>

			<li data-menu-collapse data-wa-has-role="['CF']">
				<a href="#" title="Finance"><i class="fa fa-lg fa-fw fa-money"></i> <span
						class="menu-item-parent">{{getWord('Finance')}}</span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.finance.policies">{{getWord('Policies')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.client.finance.reports">{{getWord('Reports')}}</a>
					</li>
				</ul>
			</li>

			<li data-ui-sref-active="active" data-wa-has-role="['CA', 'CT', 'CF']">
				<a data-ui-sref="app.client.messages" title="Messages"><i class="fa fa-lg fa-fw fa-comments"></i> <span class="menu-item-parent">{{getWord('Messages')}}</span></a>
			</li>

			<!-- Host -->
			<li data-ui-sref-active="active" data-wa-has-role="['HA', 'HT', 'HF']">
				<a data-ui-sref="app.host.home" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span
						class="menu-item-parent">{{getWord('Home')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['HA', 'HT', 'HF']">
				<a data-ui-sref="app.host.account.profile" title="Profile"><i class="fa fa-lg fa-fw fa-user"></i> <span
						class="menu-item-parent">{{getWord('Profile')}}</span></a>
			</li>
			<li data-menu-collapse data-wa-has-role="['HA']">
				<a href="#" title="Accounts"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span
						class="menu-item-parent">{{getWord('Accounts')}}</span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.host.account.users">{{getWord('Users')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.host.account.agencies">{{getWord('Agencies')}}</a>
					</li>
				</ul>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['HA', 'HT']">
				<a data-ui-sref="app.host.devices" title="Devices"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">{{getWord('Devices')}}</span></a>
			</li>
			<li data-menu-collapse data-wa-has-role="['HF']">
				<a href="#" title="Finance"><i class="fa fa-lg fa-fw fa-money"></i> <span
						class="menu-item-parent">{{getWord('Finance')}}</span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.host.finance.policies">{{getWord('Policies')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.host.finance.reports">{{getWord('Reports')}}</a>
					</li>
				</ul>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['HA']">
				<a data-ui-sref="app.host.messages" title="Messages"><i class="fa fa-lg fa-fw fa-comments"></i> <span
						class="menu-item-parent">{{getWord('Messages')}}</span></a>
			</li>

			<!-- Agency -->
			<li data-ui-sref-active="active" data-wa-has-role="['AA', 'AT', 'AF']">
				<a data-ui-sref="app.agency.home" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span
						class="menu-item-parent">{{getWord('Home')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['AA', 'AT', 'AF']">
				<a data-ui-sref="app.agency.account.profile" title="Profile"><i class="fa fa-lg fa-fw fa-user"></i> <span
						class="menu-item-parent">{{getWord('Profile')}}</span></a>
			</li>
			<li data-menu-collapse data-wa-has-role="['AA']">
				<a href="#" title="Accounts"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span
						class="menu-item-parent">{{getWord('Accounts')}}</span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.agency.account.users">{{getWord('Users')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.agency.account.clients">{{getWord('Clients')}}</a>
					</li>
				</ul>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['AA', 'AT']">
				<a data-ui-sref="app.agency.devices" title="Devices"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
						class="menu-item-parent">{{getWord('Devices')}}</span></a>
			</li>
			<li data-menu-collapse data-wa-has-role="['AF']">
				<a href="#" title="Finance"><i class="fa fa-lg fa-fw fa-money"></i> <span
						class="menu-item-parent">{{getWord('Finance')}}</span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.agency.finance.policies">{{getWord('Policies')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.agency.finance.reports">{{getWord('Reports')}}</a>
					</li>
				</ul>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['AA', 'AT', 'AF']">
				<a data-ui-sref="app.agency.messages" title="Messages"><i class="fa fa-lg fa-fw fa-comments"></i> <span class="menu-item-parent">{{getWord('Messages')}}</span></a>
			</li>

			<!-- Passenger -->
			<li data-ui-sref-active="active" data-wa-has-role="['P']">
				<a data-ui-sref="app.passenger.home" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span
						class="menu-item-parent">{{getWord('Home')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['P']">
				<a data-ui-sref="app.passenger.profile" title="Account"><i class="fa fa-lg fa-fw fa-group"></i> <span
						class="menu-item-parent">{{getWord('Profile')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['P']">
				<a data-ui-sref="app.passenger.setup" title="Setup"><i class="fa fa-lg fa-fw fa-institution"></i> <span
						class="menu-item-parent">{{getWord('Setup')}}</span></a>
			</li>
			<li data-ui-sref-active="active" data-wa-has-role="['P']">
				<a data-ui-sref="app.passenger.monitor" title="Monitor"><i class="fa fa-lg fa-fw fa-eye"></i> <span
						class="menu-item-parent">{{getWord('Monitor')}}</span></a>
			</li>
			<!-- <li data-ui-sref-active="active" data-wa-has-role="['P']">
				<a data-ui-sref="app.passenger.alerts" title="Alerts"><i class="fa fa-lg fa-fw fa-bell"></i> <span
						class="menu-item-parent">{{getWord('Alerts')}}</span></a>
			</li> -->
			<li data-ui-sref-active="active" data-wa-has-role="['P']">
				<a data-ui-sref="app.passenger.messages" title="Messages"><i class="fa fa-lg fa-fw fa-comments"></i> <span
						class="menu-item-parent">{{getWord('Messages')}}</span></a>
			</li>

			<!-- Samples -->
			<li data-menu-collapse>
				<a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">{{getWord('Samples')}}</span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.sample.general">{{getWord('UI Elements')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.sample.bootstrap-forms">{{getWord('Bootstrap Forms')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.sample.forms">{{getWord('Custom Forms')}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

  <span class="minifyme" data-action="minifyMenu" data-wa-minify-menu>
	<i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>